node_modules
.env
public/img/*
public/vid/*
public/real/*
public/broll/*
public/sfx/*
!public/**/.gitkeep
public/*.wav
public/*.mp4
whisper.cpp/
yt-dlp.exe
out/
*.log
img_index*.json
vid_index*.json
public/*.mp3
eng.traineddata
public/clips_src/
scripts/bin/yt-dlp.exe
